body{
    padding: 30px;
    text-align: center;
    background-color: grey;

}
h1{
    color: black;
}
img{
    height: 300px;
    width: 300px;
}
p{
    color: black;
    width: 50%;
    margin: auto;
}